<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">INFR3120</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        
        <!-- if current page is home, set to active (highlight home icon) -->
        <li class="nav-item">
        <% if (title == "Home") { %>
          <a class="nav-link active" href="/">
        <% } else { %>
          <a class="nav-link" href="/">
        <% } %>
          <i class="fa-solid fa-lg fa-house"></i> 
          Home</a>
        </li>

        <li class="nav-item">
        <% if (title == "About") { %>
          <a class="nav-link active" href="/about">
        <% } else { %>
          <a class="nav-link" href="/about">
        <% } %>  
          <i class="fa-solid fa-address-card"></i> 
          About</a>
        </li>

        <li class="nav-item">
        <% if (title == "Projects") { %>
          <a class="nav-link active" href="/projects">
        <% } else { %>
          <a class="nav-link" href="/projects">
        <% } %> 
          <i class="fa-solid fa-bag-shopping"></i>
          Projects</a>
        </li>

        <li class="nav-item">
        <% if (title == "Tablets") { %>
          <a class="nav-link active" href="/tabletlist">
        <% } else { %>
          <a class="nav-link" href="/tabletlist">
        <% } %> 
          <i class="fa-solid fa-tablet"></i>
          Drawing Tablets</a>
        </li>

        <li class="nav-item">
        <% if (title == "Contact Me") { %>
          <a class="nav-link active" href="/contact">
        <% } else { %>
          <a class="nav-link" href="/contact">
        <% } %> 
          <i class="fa-solid fa-phone"></i>
          Contact</a>
        </li>
        <li>
       <% if(typeof displayName == 'string' && displayName) { %> // Auth
          <li class="navbar-text">
            <i class="fas fa-lg fa-user"></i>
            Welcome, <%= displayName %>
          </li>
          <li class="nav-item">
              <a href="/logout" class="nav-link" >
              <i class="fa-solid fa-sign-out-alt"></i> Logout</a>
          </li>
          <% } else { %>
            <li class="nav-item">
              <a href="/login" class="nav-link">
              <i class="fa-solid fa-sign-in-alt"></i> Login</a>
          </li>
          <% } %>
          </li>
      </ul>
    </div>
  </div>
</nav>