<!--Bottom Navigation Bar-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; 2023 Jason Kong - Portfolio | Contact: jasonwkong@outlook.com
  | <a href="https://www.linkedin.com/in/jason-kong-a5952b25b/"> LinkedIn </a>
  | <a href="https://github.com/Jaunting7"> Github Page </h6>
</nav>
