<%- include partials/index_header.ejs %>
<body>
    <%- include partials/main_nav.ejs %>
    
        <article class = "home">
            <h1>Home</h1>
            <p>Jason Kong - Portfolio</p>
        </article>
        
        <%- include partials/bottom_fixed_nav.ejs %>
        <%- include partials/footer.ejs %>
</body>
</html>