<%- include partials/header.ejs %>

<body>
    <%- include partials/main_nav.ejs %>

    <div class = "projects">
        <h2>Projects</h2>
        <h3>Python OOP Final Project</h3>

            <a href="https://drive.google.com/drive/folders/1j1gqrhi1VrCUbZLKeXs75CJXx6cirU8d?usp=sharing"><span>View Entire Folder</span></a>
        <ol>
            <li><a href="https://drive.google.com/file/d/1qp83UzRmhRBOGjPKwAgt_UsmUHIj2qDC/view?usp=sharing"><span>Explanatory</span></a></li>
            <li><a href="https://drive.google.com/file/d/1TVsLDAyZoW2Zn1OMTmgEbIJOiLepTN_9/view?usp=sharing"><span>Python Program</span></a></li>
            <li><a href="https://drive.google.com/file/d/1S53zRre7Y-tiGaWcgvdi4J0ahYlMitXd/view?usp=sharing"><span>Sample Inputs</span></a></li>
        </ol>
        <!--embedded google drive link-->
        <iframe 
            src="https://drive.google.com/file/d/1IcwlzZIRIh3dTW2dXerAQNpKNUUF_0cY/preview" width="960" height="540" allow="autoplay">
        </iframe>
        
    </div>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>

</body>
</html>